<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Resultados de encuestas</h1>7
            <hr />
        </div>
        <div class="col-lg-6 col-md-12">
            <h4>Ultima encuesta enviada</h4>
            
        </div>
    </div>
</div>