@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Survey forms</h1>
    <p>Colecta la informacion necesaria para determinar el valor activo de las cosas!</p>
</div>
