


<div class="container my-3">
    <div class="form-group">
        <h3 class="text-info">Formulario generado exitosamente!</h3>
        <p>Puedes acceder o enviar el link para evaluar el tema concerniente a lo que construiste en el formulario!.</p>
        <hr />

        <strong>Presiona  <a href=@ViewBag.url >aqui</a> para acceder al formulario</strong>
    </div>
</div>